@media (max-width:1300px){
    .logo__animation {
        width: 552px;
    }
    .showlogo {
        transform: translate(11%, 51%);
    }
    .header__items {
        margin-right: 40px;
    }
    .header__items__menu {
        padding-top: 159px;
        padding-left: 126px;
    }

}

@media (max-width:1181px) { 
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,15px);
    }
    .container {
        margin: 0 25px;
    }
    .header__items {
        width: 35.31%;
    }
    .header__header {
        height: 97px;
    }
    .swiper__buttons {
        bottom: -12%;
    }
    .eclipse {
        width: 193px;
    }
    .header__items__menu {
        padding-left: 76px;
    }
    .header__items__menu {
        width: 43.6%;
    }
    .logo__animation {
        width: 520px;
    }
    .showlogo {
        transform: translate(11%, 58%);
    }

    .sticky + main {
        padding-top: 97px;
    }
    
 }
 @media (max-width:1070px){
    .header__items__menu {
        padding-left: 20px;
    }
    .header__items__menu {
        width: 50.6%;
    }
    .eclipse {
        width: 140px;
    }
    .popup{
        width: 650px;
        padding: 25px;
        transition: 0.5s all;
        }
        .popup h2{
            font-size: 44px;
        }
        .popup__text{
            margin-bottom: 60px;
            font-size: 17px;
        }
        .popup__text2{
            font-size: 17px;
        }
 }
 @media (max-width:1050px){
    .roomlook__block__info__item p {
        font-size: 16px;
    }
    .roomlook__block {
        gap: 49px;
    }
    .footer__footer__logo {
        width: 86.3%;
    }
 }
 @media (max-width:1044px){
    .header__items {
        width: 39.31%;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,11px);
    }
 }
 @media (max-width:1024px) {
    .logo__animation{
        display: none;
    }
    .eclipse {
        display: none;
    }
    .header__items__menu {
        width: 58.6%;
        z-index: -1;
    }
    .header__items__menu li a {
        font-size: 30px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal{
        width: auto;
    }
    .swiper__buttons{
        justify-content: center;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,11px);
    }
    .swiper__buttons{
        gap: 8px;
    }
    .popup-list__firstblock{
        width: 100%;
    }
    .popup-content{
        width: 80%;
        height: 60vh;
    }
 }
 @media (max-width:1002px){
    .footer__footer__author__adaptive span{
        color: #2982ff;
    }
    .footer__footer h2 {
        display: inline-block;
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 122%;
        color: #0D0D0D;
        margin-bottom: 10px;
    }
    .swiper {
        height: 460px;
    }
    .roomlook__block__info__item {
        margin-bottom: 30px;
    }
    .roomlook__title {
        font-size: 40px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
    }
    .header__logo {
        width: 170px;
    }
    .footer__footer{
        display: flex;
        flex-direction: column;
    }
    .footer__footer__item2 {
        order: 2;
    }
    .footer__footer__item3 {
        order: 1;
    }
    .footer__footer__item{
        order: 3;
    }
    .footer__footer__author {
        display: none;
    }
    .footer__footer__item__graphic p:first-child{
        font-weight: 450;
        margin-bottom: 10px;
    }
    .footer__footer__logo {
        width: 250px;
        margin-bottom: 40px;
    }
    .footer__footer__author__adaptive {
        display: block;
        order: 4;
    }
    .footer__footer__info__block{
        margin-bottom: 30px;
    }
    .contacts__section__item__adress{
        width: auto;
        margin-bottom: 30px;
    }
    .footer__footer__item{
        padding-top: 40px;
        border-top: 1px solid #E0E0E0;
        width: 100%;
    }
    .footer__footer__item2{
        margin-bottom: 40px;
    }
    .footer__footer__item__graphic{
        display: block;
        order: 2;
        width: 132px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    .roomlook__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 74px;
    }
    .swiper {
        width: 70%;
        height: 515px;
    }
    .roomlook__block__info{
        width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .roomlook__head {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .roomlook__link{
        margin-right: 0px;
    }
    .swiper__buttons {
        position: absolute;
    bottom: 38.3%;
    left: 30%;
    width: 42.5%;
    }
    .header__items {
        gap: 40px;
        width: 45%;
        margin: 0;
    }
    .rz-body{
        margin-right: 0%;
    }
    .roomlook__title{
        margin-bottom: 20px;
        width: max-content;
    }
    .swiper__buttons__adaptive3{
        bottom: 38.2%;
    }
    .swiper__buttons__adaptive1{
        bottom: 37.3%;
    }
    
 }
 @media (max-width:950px){
   
 } 
 @media (max-width:860px){
    .roomlook__head {
        width: 85%;
    }
    .swiper {
        width: 85%;
        height: 520px;
    }
    .roomlook__block__buttons {
        margin: 0 auto;
    }
    .roomlook__block__info{
        width: 85%;
        align-items: flex-start;
    }
    .popup{
        width: 93%;
    }
    .close-popup{
        top: 24px;
        right: 24px;
    }
    .popup h2{
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .popup button{
        width: 150px;
        height: 44px;
    }
    .submit__eclipse{
        width: 16px;
        height: 16px;
        top: 34%;
    }
    .submit__eclipse2{
        width: 16px;
        height: 16px;
        top: 34%;
    }
 }

 @media (max-width:769px){
    .drop__block{
        display: block;
    }

    .footer__footer h2{
        display: inline-block;
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 122%;
        color: #0D0D0D;
        margin-bottom: 10px;
    }
    .contacts__section__item__adress p:nth-child(2){
        width: 336px;
    }
    .roomlook__block__button2 a{
        font-size: 14px;
    }
    .roomlook__block__button2__square1{
        width: 16px;
        height: 16px;
    }
    .roomlook__block__button2__square2{
        width: 16px;
        height: 16px;
    }
    .roomlook__block__button2{
        width: 150px;
        height: 44px;
    }
    .roomlook__block__button1__svg{
        width: 152px;
        height: 44px;
    }
    .roomlook__block__button1__text{
        font-size: 15px;
    }
    .roomlook__block__button1__text span{
        font-size: 23px;
    }
    .main__wrapper{
        padding-top: 60px;
    }
    .main-block{
        padding-bottom: 80px;
    }
    .header__items__menu{
        gap: 20px;
        padding-top: 120px;
    }
    .header__items__menu li a {
        font-size: 26px;
    }
    .header__items__number {
       display: none;
    }
    .header__items{
        justify-content: end;
    }
    .main-block__title {
        width: 296px;
        font-size: 36px;
        line-height: 50px;
    }
    .main-block__navigation p{
        font-size: 14px;
    }
    .footer__footer{
        display: flex;
        flex-direction: column;
    }
    .roomlook__link{
        display: none;
    }
    .footer__footer__item2 {
        order: 2;
    }
    .footer__footer__item3 {
        order: 1;
    }
    .footer__footer__item{
        order: 3;
        width: 100%;
    }
    .footer__footer__author {
        display: none;
    }
    .main-block__button1__svg{
        width: 150px;
    }
    .main-block__text{
        margin-bottom: 70px;
    }
    .main-block__buttons{
        gap: 20px;
        align-items: center;
    }
    .main-block__button1__decor21{
        width: 16px;
        height: 16px;
        top: 31%;
        left: -6%;
    }
    .main-block__button2 a {
        padding: 10px 20px;
    }
    .main-block__button1__decor22 {
        width: 16px;
        height: 16px;
        top: 31%;
        right: -6%;
    }
    .main-block__button1__decor{
        width: 16px;
        height: 16px;
        top: 31%;
    left: -6%;
    }
    .main-block__button1__decor2{
        width: 16px;
        height: 16px;
        top: 31%;
        right: -6%;
    }
    .contacts__section__item__number{
        width: 75%;
    }.contacts__section__item__adress {
        margin-bottom: 30px;
    }
    .footer__footer__item__graphic{
        display: block;
        order: 2;
        width: 132px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    .footer__footer__item__graphic p:first-child{
        font-weight: 450;
        margin-bottom: 10px;
    }
    .contacts__section__item2__location{
        margin-bottom: 30px;
    }
    .footer__footer__logo {
        width: 250px;
        margin-bottom: 40px;
    }
    .footer__footer__author__adaptive {
        display: block;
        order: 4;
    }
    .footer__footer__info__block{
        margin-bottom: 30px;
    }
    a.roomlook__link{
        display: none;
    }
    a.roomlook__link__adaptive{
        display: inline-flex;
        margin-bottom: 30px;
    }
    .popup-list__column__main__first {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .popup-list__block1 {
        width: 50%;
    }
    .popup-list__block2 {
        width: 50%;
    }
    .popup-list__block3 {
        width: 63%;
    }
    .popup-list{
        width: 75%;
        height: 70vh;
    }
    .popup-list .popup-list__main__title{
        line-height: 24px;
        margin-bottom: 40px;
        width: 75%;
    }
    .close-popup-list {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .roomlook__title{
        margin-bottom: 20px;
    }
    .main-block__button2__span{
        font-size: 15px;
    }
    .main-block__button1__span{
        font-size: 15px;
    }
    .main-block__button2__svg{
        width: 185px;
        height: 50px;
    }
    .rz-body{
        display: none;
    }
    .rz-body__adaptive {
        display: flex;
        margin-bottom: 40px;
    }
    .swiper__buttons {
        bottom: 42.1%;
    left: 27%;
    width: 48.5%;
    }
    .swiper-pagination{
        order: 2;
        flex: 1 0 auto;
    }
    .rz-body__adaptive__delete{
        display: none;
    }   
    .swiper__buttons__adaptive__fix1{
        bottom: 38.8%;
    }


    .swiper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .swiper__buttons{
        position: static;
    }
   
    .popup-content {
        width: 80%;
        height: 30vh;
    }
    .roomlook__block__buttons {
        margin: 0;
        margin-right: auto;

    }
    .swiper {
        width: 85%;
        height: 500px;
    }
    .roomlook__block{
        gap: 50px;
    }
    .swiper-slide img {
        position: fixed;
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
    }
    
   
 }
 @media (max-width: 650px){
    .popup-list__column__main__first {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
    }
    .popup-list__block1 {
        width: 100%;
    }
    .popup-list__block2 {
        width: 100%;
    }
    .popup-list__block3 {
        width: 100%;
    }
    .close-popup-list {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .roomlook:nth-child(1) {
        margin-top: 0%;
        padding-top: 60px;
    }

  }
 @media (max-width: 550px){
    .header__items__burger [class*='bar-'] {
        height: 2px;
        width: 20px;
        margin-bottom: 5px;
    }
    .opened .bar-top{
        width: 28px;
    }
    .opened .bar-bot{
        width: 28px;
    }
    .swiper__buttons {
        left: 19.1%;
    }
    .swiper {
        width: 100%;
        height: 460px;
    }
    .roomlook__head{
        width: 100%;
    }
    .swiper__buttons {
        bottom: 45.2%;
        left: 10.1%;
        width: 81.5%;
    }
    .roomlook__block__info {
        width: 100%;
        align-items: flex-start;
    }
    .roomlook__title {
        font-size: 30px;
    }
    .roomlook__block__button1{
        width: 152px;
        height: 44px;
    }
    .roomlook__block__button2{
        width: 152px;
        height: 44px;
    }
    .roomlook__block__button2__square1, .roomlook__block__button2__square2 {
        width: 16px;
        height: 16px;
    }
    .roomlook__block__button1__square1 {
        top: 31.7%;
        left: -5.4%;
        width: 16px;
        height: 16px;
    }
    .roomlook__block__button1__square2{
        top: 31.7%;
        right:-5.4%;
        width: 16px;
        height: 16px;
    }
    .close-popup{
        width: 24px;
        height: 24px;
    }
    .popup h2{
        font-size: 28px;
    }
    .popup__text {
        font-size: 15px;
    }
    .popup__text2{
        font-size: 15px;
        width: 83.888%;
    }
    .popup-list h2{
        font-size: 16px;
    }
    .popup-list__strict p{
        font-size: 15px;
    }
    .swiper__buttons__adaptive__fix1{
        bottom: 42.1%;
    }
}
@media (max-width:480px){
    .header__items__menu {
        width: 100%;
        z-index: -1;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
    }
    .roomlook__title{
        margin-bottom: 20px;
    }
    .footer__footer__item2 {
         margin-bottom: 0px;
    }
}
@media (max-width: 450px){ 
    .swiper {
        width: 100%;
        height: 420px;
    }
   
    .swiper {
        width: 100%;
        height: 355px;
    }
}
@media (max-width: 432px){ 
    .contacts__section__item__adress{
        width: 299px;
    }
    .contacts__section__item__number p{
        font-size: 16px;
    }
    .footer__footer__item__graphic{
        width: 132px;
    }
    .footer__footer__item {
        border-top: 1px solid #E0E0E0;
    }
    .footer__footer__logo{
        padding-top: 30px;
    }
    .roomlook__block__info__item2__corect {
        gap: 0;
        flex-wrap: wrap;
    }
    .fix {
        margin: 0px 15px;
    }
    .roomlook__block__info__item2__corect2 {
        gap: 0;
        flex-wrap: wrap;
    }
    .roomlook__block__info__item2__corect3 {
        gap: 0;
        flex-wrap: wrap;
    }
}
@media (max-width: 414px){
    .footer__footer__item2{
        margin-bottom: 30px;
    }
    .contacts__section__item__adress p:nth-child(2){
        font-size: 16px;
    }
    .roomlook__block__info__item2{
        gap: 20px;
    }
    .swiper {
        width: 100%;
        height: 300px;
    }
    .roomlook__block__info__item2 {
        gap: 20px;
    }
    .roomlook__block__info__item2__corect{
        gap: 0;
        flex-wrap: wrap;
    }
    .roomlook__block__info__item2__corect2{
        gap: 0;
        flex-wrap: wrap;
    }
    .roomlook__block__info__item2__corect3{
        gap: 0;
        flex-wrap: wrap;
    }
    .fix{
        margin: 0px 15px;
    }
    .roomlook__block__info__item p {
        font-size: 15px;
    }
    .roomlook__block__info__item{
        gap: 20px;
    }
    .main-block__button2__svg {
        width: 170px;
        height: 43px;
    }
    .roomlook__block__button2__span{
        font-size: 16px;
    }
    .popup-list .popup-list__main__title{
        font-weight: 600;
    }
    .main__wrapper{
        padding-top: 0px;
    }
    .swiper__buttons__second__fix{
        bottom: 54.1%;
    }
    .back{
        width: 70px;
    }
    .swiper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .swiper__buttons{
        position: static;
    }
   
    .popup-content {
        width: 80%;
        height: 30vh;
    }
    .roomlook__block__buttons {
        margin: 0;
        margin-right: auto;

    }
    .swiper {
        width: 100%;
        height: 355px;
    }
    .roomlook__block{
        gap: 50px;
    }
    .roomlook:nth-child(1){
        margin-top: 0%;
        padding-top: 60px;
    }
}
@media (max-width: 390px){
    .roomlook__block__buttons {
        gap: 20px;

    }
}
 /* ================================ */
 @media (max-width: 375px){
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        display: flex;
    }
    .sticky + main {
        padding-top: 80px;
    }
    .header__header {
        height: 80px;
    }
    .header__items__menu{
        gap: 15px;
    }
    .header__logo {
        width: 41.3%;
    }
    .header__items__number {
        display: none;
    }
    .header__items__ukr {
        width: 36px;
        height: 16px;
    }
    .header__items__burger span {
        width: 20px;
        height: 1.6px;
    }
    .main-block__title {
        font-size: 36px;
        line-height: 40px;
        width: 91.07%;
    }
    .main-block__navigation {
        margin: 65px 0px 60px;
    }
    .main-block__text {
        font-size: 14px;
        margin-bottom: 75px;
    }
    .main-block__button1 {
        width: 152px;
        height: 44px;
    }
    .main-block__button2 {
        width: 152px;
        height: 44px;
    }
    .main-block__button2 a {
        padding: 10px 30px;
    }
    .main-block__button1__decor21 {
        top: 31%;
        left: -5.3%;
        width: 15px;
        height: 15px;
    }
    .main-block__button1__decor22 {
        top: 31%;
        right: -5.3%;
        width: 15px;
        height: 15px;
    }
    .main-block__buttons {
        gap: 20px;
    }
    .roomlook__title {
        font-size: 27px;
        margin-bottom: 0;
    }
    .roomlook__link {
        display: none;
    }
    .roomlook__head {
        margin: 0;
        margin-bottom: 30px;
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }
    .swiper-button-prev,.swiper-button-next {
        width: 70px;
    }
    .swiper__buttons {
        width: 310px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
    }
    .swiper-pagination{
        display: flex;
        margin: 0 10px;
        justify-content: center;
    }
    .roomlook__block__info__item p {
        font-size: 15px;
    }
    .roomlook__block__info {
        width: 100%;
    }
    .roomlook__block__info__item {
        gap: 16px;
    }
    .roomlook__block__info__item2 {
        gap: 13px;
    }
    .roomlook__block__button1 {
        width: 152px;
        height: 44px;
    }
    .roomlook__block__button2 {
        width: 152px;
        height: 44px;
    }
    .roomlook__block__button2__square1 {
        top: 33.3%;
        left: -6%;
    }
    .roomlook__block__button2__square2 {
        top: 33.3%;
        right: -6%;
    }
    .roomlook__block__button1__square1 {
        top: 28.7%;
        left: -8.5%;
    }
    .roomlook__block__button1__square2 {
        top: 28.7%;
        right: -8.5%;
    }
    .footer__footer{
        display: flex;
        flex-direction: column;
    }
    .contacts__section__item__adress p:nth-child(1) {
        font-size: 16px;
    }
    .contacts__section__item__adress p:nth-child(2) {
        font-size: 16px;
    }
    .footer__footer__item2 {
        order: 2;
    }
    .footer__footer__item3 {
        order: 1;
    }
    .footer__footer__item{
        order: 3;
    }
    .contacts__section__item__adress {
        margin-right: 0;
        width: 95%;
        padding-top: 3%;
    }
    .contacts__section__item__adress p:nth-child(1) {
        margin-bottom: 7px;
    }
    .contacts__section__item__adress {
       margin-bottom: 30px;
    }
    .contacts__section__item__number__icon {
        width: 13px;
        height: 13px;
    }
    .footer__footer__author {
        display: none;
    }
    .contacts__section__item__number p {
        font-size: 16px;
    }
    .footer__footer__logo {
        width: 62.3%;
        margin-bottom: 40px;

    }
    .footer__footer__info a {
        font-size: 16px;
    }
    .footer__footer__info {
        margin-bottom: 32px;
    }
    .footer__footer__author__adaptive {
        display: block;
        order: 4;
    }
    .footer__footer__item__graphic{
        display: block;
        order: 2;
        width: 50%;
        line-height: 20px;
        margin-bottom: 50px;
    }
    .contacts__section__item2__location {
        margin-bottom: 40px;
    }
    .footer__footer__item__graphic p:nth-child(1){
        font-style: normal;
        font-weight: 450;
        font-size: 18px;
        line-height: 23px;
        color: #00303E;
        margin-bottom: 10px;
        display: block;
    }
    .footer__footer__item{
        border-top: 1px solid #E0E0E0;
        margin: 0;
        padding-top: 20px;
    }
    .main__wrapper {
        padding-top: 0px;
    }
    .roomlook__block__info__item2{
        flex-wrap: wrap;
    }
    .contacts__section__item__number {
        width: 100%;
    }
    .swiper__buttons{
        left: 2.1%;
        bottom: 51.7%;
    }
    .swiper__buttons__second__fix{
        bottom: 54.6%;
    }
    .swiper-buttons__position{
        bottom: 57.8%;
    }
    .swiper__buttons__adaptive__fix{
        bottom: 57.5%;
    }
    .swiper__buttons__adaptive__fix1{
        bottom: 54.2%;
    }
  }